/* scrollbar */
/* Firefox */
html {scrollbar-width: 10px;;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #222;}
/* header */
header {
    background: rgba(0, 0, 0, 0.2);
    width: 100%; height: 100px;
    padding: 10px 30px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed; z-index: 9999;
}
header h1 {}
header h1 img {}
header nav {}
header nav ul {display: flex;}
header nav ul li {
    position: relative;
}
header nav ul li:last-child {
    margin-right: 0;
}
header nav ul li > a {
    font-size: 1.333rem; color: #fff; font-weight: 700;
    padding: 0 42px; line-height: 100px;
}
header nav ul li > .sub {
    display: flex; flex-flow: column nowrap;
    width: 100%; height: 400px;
    position: absolute; z-index: 8000;
}
header nav ul li > .sub > li {}
header nav ul li > .sub > li > a {
    text-align: center;
    width: 100%;
    line-height: 46px; font-size: 1rem;
    padding: 10px 0 10px 5px; display: inline-block;
}
header nav .nav_bg {
    position: absolute; left: 0;
    background: rgba(27, 27, 27, 0.5);
    width: 100%; height: 400px; z-index: 100;
}
/* 5. footer */
main .footer {
    background-color: #222222;
    padding: 40px 30px;
}
main .footer .top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main .footer .top .right {
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
main .footer .top h2 {}
main .footer .top h2 img {}
main .footer .top .right .btn {}
main .footer .top .right .btn a:first-child {margin-left: 0;}
main .footer .top .right .btn a {margin-left: 12px;}
main .footer .top .btn a img {}
main .footer .top .right #site {
    margin-left: 40px;
}
main .footer .top .right #site option {}
main .footer .btm {
    padding-top: 35.73px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
}
main .footer .btm address {
    color: #fff;
    font-weight: 400; line-height: 40px;
}
main .footer .btm p {
    color: #949494;
}
#site {
    padding: 10px 26px; border-radius: 5px;
}
select {
    appearance : none ;
    -webkit-appearance : none ;
}
.select {
    position: relative;
}
select::-ms-expand {
    display : none ;
}
.select-arrow {
    position: absolute;
    top :15px;
    right: 15px;
    width :0;
    height :0;
    pointer-events: none;
    border-style :solid;
    border-width: 8px 5px 0 5px;
    border-color: #999 transparent transparent transparent;
}